In [28]:
x = 5
y = "John"
print(x)
print(y)

5
John

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [29]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x = 'Banaba'
y = 'orange'
z = 'somethign'

In [30]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [32]:
k = 'str1'
l = 'str2'
n = k+l
print(n)

str1str2

In [34]:
x = "awesome"
print("Python is " + x)

Python is awesome

Incorrect `+` mathematical operator

In [33]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Datatypes

- Text Type: 	`str`
- Numeric Types: 	`int`, `float`, `complex`
- Sequence Types: 	`list`, `tuple`, `range`
- Mapping Type: 	`dict`
- Set Types: 	`set`, `frozenset`
- Boolean Type: 	`bool`
- Binary Types: 	`bytes`, `bytearray`, `memoryview`

In [39]:
x = b'b'
print(type(x))

<class 'bytes'>

In [3]:
x = "Hello World"
x = 20
x = 20.5
x = 1j
x = ["apple", "banana", "cherry"]
x = ("apple", "banana", "cherry")
x = range(6)
x = {"name" : "John", "age" : 36}
x = {"apple", "banana", "cherry"}
x = frozenset({"apple", "banana", "cherry"})
x = True
x = b"Hello"
x = bytearray(5)
x = memoryview(bytes(5))

In [2]:
x = str("Hello World")
x = int(20)
x = float(20.5)
x = complex(1j)
x = list(("apple", "banana", "cherry"))
x = tuple(("apple", "banana", "cherry"))
x = range(6)
x = dict(name="John", age=36)
x = set(("apple", "banana", "cherry"))
x = frozenset(("apple", "banana", "cherry"))
x = bool(5)
x = bytes(5)
x = bytearray(5)
x = memoryview(bytes(5))

In [60]:
b = None
# k = 10
# k
b

In [41]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

ValueError: could not convert string to float: '4.2.'

# string

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [64]:
b = "Hello, World!"
print(b)

Hello, World!

In [68]:
print(b[2:10])

llo, Wor

In [66]:
b[8] = 1

TypeError: 'str' object does not support item assignment

In [70]:
a = " Hello, World! "
print(a.strip())
print(a.lower())
print(a.upper())
print(a.replace("H", "J"))
print(a.split("l"))

Hello, World!
 hello, world!
 HELLO, WORLD!
 Jello, World!
[' He', '', 'o, Wor', 'd! ']

In [72]:
txt = "The rain in Spain stays mainly in the plain"
x = "aint" in txt
print(x)

False

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

In [73]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [74]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [77]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [86]:
k = 2.3333333333333333333333333333333333333333333333333333444444444444444444444444444444444444444444555555555555555555555555555
# l = 2
# print(type(l))
print(k)

2.3333333333333335

In [80]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age,23))

My name is John, and I am 36

In [93]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(2+3, itemno, price))

I want 5 pieces of item 567 for 49.95 dollars.

In [92]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, 2+3))

I want to pay 5 dollars for 3 pieces of item 567.

# HW
- format string with keywords

In [91]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt.index('e'))

1

# HW
- get all characters 'e' and index places in string

| Functions  | Definition  | 
| ---------  | ----------  | 
| capitalize()  | Converts the first character to upper case  | 
| casefold()  | Converts string into lower case  | 
| center()  | Returns a centered string  | 
| count()  | Returns the number of times a specified value occurs in a string  | 
| encode()  | Returns an encoded version of the string  | 
| endswith()  | Returns true if the string ends with the specified value  | 
| expandtabs()  | Sets the tab size of the string  | 
| find()  | Searches the string for a specified value and returns the position of where it was found  | 
| format()  | Formats specified values in a string  | 
| format_map()  | Formats specified values in a string  | 
| index()  | Searches the string for a specified value and returns the position of where it was found  | 
| isalnum()  | Returns True if all characters in the string are alphanumeric  | 
| isalpha()  | Returns True if all characters in the string are in the alphabet  | 
| isdecimal()  | Returns True if all characters in the string are decimals  | 
| isdigit()  | Returns True if all characters in the string are digits  | 
| isidentifier()  | Returns True if the string is an identifier  | 
| islower()  | Returns True if all characters in the string are lower case  | 
| isnumeric()  | Returns True if all characters in the string are numeric  | 
| isprintable()  | Returns True if all characters in the string are printable  | 
| isspace()  | Returns True if all characters in the string are whitespaces  | 
| istitle()   | Returns True if the string follows the rules of a title  | 
| isupper()  | Returns True if all characters in the string are upper case  | 
| join()  | Joins the elements of an iterable to the end of the string  | 
| ljust()  | Returns a left justified version of the string  | 
| lower()  | Converts a string into lower case  | 
| lstrip()  | Returns a left trim version of the string  | 
| maketrans()  | Returns a translation table to be used in translations  | 
| partition()  | Returns a tuple where the string is parted into three parts  | 
| replace()  | Returns a string where a specified value is replaced with a specified value  | 
| rfind()  | Searches the string for a specified value and returns the last position of where it was found  | 
| rindex()  | Searches the string for a specified value and returns the last position of where it was found  | 
| rjust()  | Returns a right justified version of the string  | 
| rpartition()  | Returns a tuple where the string is parted into three parts  | 
| rsplit()  | Splits the string at the specified separator, and returns a list  | 
| rstrip()  | Returns a right trim version of the string  | 
| split()  | Splits the string at the specified separator, and returns a list  | 
| splitlines()  | Splits the string at line breaks and returns a list  | 
| startswith()  | Returns true if the string starts with the specified value  | 
| strip()  | Returns a trimmed version of the string  | 
| swapcase()  | Swaps cases, lower case becomes upper case and vice versa  | 
| title()  | Converts the first character of each word to upper case  | 
| translate()  | Returns a translated string  | 
| upper()  | Converts a string into upper case  | 
| zfill()  | Fills the string with a specified number of 0 values at the beginning  |

# Operators

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [96]:
5//2

2

### Arithmetic operators
<div style="width:100%">

|  Operator  |  Name           | Example    | 
| ---------- | ----------------|---------   |
| +          | Addition        | x + y     |
| -          | Subtraction     | x - y     |
| *          | Multiplication  | x * y     |
| /          | Division        | x / y     |
| %          | Modulus         | x % y     |
| **         | Exponentiation  | x ** y    |
| //         | Floor division  | x // y    |
</div>

### Assignment operators
| Operator | Name           | Example |
|----------|----------------|---------|
|= |x = 5 |x = 5 |
|+= |x += 3 |x = x + 3 |
|-= |x -= 3 |x = x - 3 |
|*= |x *= 3 |x = x * 3 |
|/= |x /= 3 |x = x / 3 |
|%= |x %= 3 |x = x % 3 |
|//= |x //= 3 |x = x // 3 |
|**= |x **= 3 |x = x ** 3 |
|&= |x &= 3 |x = x & 3 |
|\|= |x \|= 3 |x = x \| 3 |
|^= |x ^= 3 |x = x ^ 3 |
|>>= |x >>= 3 |x = x >> 3 |
|<<= |x <<= 3 |x = x << 3 |

### Comparison operators
| Operator | Name           | Example |
|----------|----------------|---------|
| == | Equal |  x == y  |
| != | Not equal  | x != y  |
| >  | Greater than  |  x > y   |
| <  | Less than |  x < y   |
| >= | Greater than or equal to |   x >= y | 
| <= | Less than or equal to  | x <= y |

### Logical operators
| Operator | Name           | Example |
|----------|----------------|---------|
| and  |Returns True if both statements are true |x < 5 and  x < 10 |
| or |Returns True if one of the statements is true |x < 5 or x < 4 |
| not |Reverse the result, returns False if the result is true |not(x < 5 and x < 10) |

### Identity operators
| Operator | Name           | Example |
|----------|----------------|---------|
| is  |	Returns true if both variables are the same object |	x is y 	|
| is not |	Returns true if both variables are not the same object |	x is not y |

### Membership operators
| Operator | Name           | Example |
|----------|----------------|---------|
| in  |Returns True if a sequence with the specified value is present in the object |x in y |
| not in |Returns True if a sequence with the specified value is not present in the object |x not in y |

### Bitwise operators
| Operator | Name           | Example |
|----------|----------------|---------|
|&  |AND |Sets each bit to 1 if both bits are 1 |
|\| |OR |Sets each bit to 1 if one of two bits is 1 |
|^ |XOR |Sets each bit to 1 if only one of two bits is 1 |
|~  |NOT |Inverts all the bits |
|<< |Zero fill left shift |Shift left by pushing zeros in from the right and let the leftmost bits fall off |
|>> |Signed right shift |Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off |

# Lists

In [97]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [98]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [99]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [100]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [101]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [102]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [103]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [104]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [108]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [105]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [111]:
 thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [109]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [110]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

In [112]:
k = [1,2]
l = k
l[0] = 3
print(k)

[3, 2]

In [115]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [121]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)
thislist.sort()

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [7]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [118]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.append(list2)
print(list1) 
list1.sort()

['a', 'b', 'c', [1, 2, 3]]

TypeError: '<' not supported between instances of 'list' and 'str'

In [116]:
thislist.sort()

In [ ]:
count, index

# tuple

In [11]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [12]:
thistuple[1] = 'orange'

TypeError: 'tuple' object does not support item assignment

In [122]:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [13]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [124]:
thistuple = ("apple",)
thistuple.append(('orange',))

# print(type(thistuple))

AttributeError: 'tuple' object has no attribute 'append'

In [125]:
k = thistuple + ('orange',)

# sets

In [127]:
thisset = {"apple", "banana", "cherry","cherry","cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [128]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [129]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'mango', 'cherry', 'grapes', 'orange', 'apple', 'banana'}

In [131]:
thisset = {"apple", "banana", "cherry"}

# thisset.remove("banana")

thisset.discard("banana1")

print(thisset)

{'cherry', 'apple', 'banana'}

In [17]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

In [ ]:
set3 = set1.union(set2)
print(set3)

In [132]:
set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

# dictionary

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [135]:
thisdict["model"]

KeyError: 'model1'

In [138]:
print(thisdict.get("mode",1))

1

In [24]:
print(x)

None

In [140]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year1"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'year1': 2018}

In [141]:
for x in thisdict:
    print(x)

brand
model
year
year1

In [143]:
for x in thisdict:
    print(x, thisdict[x])

brand Ford
model Mustang
year 1964
year1 2018

In [146]:
for x in thisdict.values():
    print(x)

dict_values(['Ford', 'Mustang', 1964, 2018])

In [147]:
for x in thisdict.keys():
    print(x)

brand
model
year
year1

In [152]:
for x,y in thisdict.items():
    print(x)

brand
model
year
year1

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

In [ ]:
 thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

# If Else Elif

In [ ]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

In [ ]:
if a > b: print("a is greater than b")

In [153]:
a = 2
b = 330
print("A") if a > b else print("B") 
k = 1 if True else 0

B

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

In [155]:
a = 33
b = 200

if b > a:
    pass
print(1)

1

# Python Loops
- while
- for

## while

In [156]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [157]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

In [159]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1
else:
    print("i is no longer less than 6")

1
2
3

## for

In [160]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [161]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 30, 3):
    print(x)

In [ ]:
for x in range(6):
    print(x)
else:
    print("Finally finished!"

# Functions

In [ ]:
def my_function():
    print("Hello from a function")

my_function()

In [ ]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

In [ ]:

def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

In [ ]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

# lambda

In [ ]:
x = lambda a : a + 10
print(x(5))

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

# Truthiness

In [52]:
x = "Hello"
y = 15

# print(bool(x))
# print(bool(y))
# print(bool("abc"))
# print(bool(-123))
print(bool([False]))

# bool(False)
# bool(None)
# print(bool(0))
# print(bool(""))
# print(bool(()))
# print(bool([]))
# print(bool({}) )

True

In [54]:
k = []
if k:
    print(k[0]) # use in some form